<header>
	<nav class="navbar fixed-top bg-body-tertiary d-flex justify-content-around">

		<button class="navbar-toggler bg-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<h4 class="navbar-brand mb-0 opacity-0-pc">Clairinette_ Art</h4>
		<div class="opacity-0-pc">
			{# crée un troisième élément pour que le titre soit centrer parmi 3 éléments avec un justify-content-around #}
		</div>

		<div class="offcanvas offcanvas-start bg-body-tertiary" data-bs-backdrop="false" tabindex="-1" id="offcanvasNavbar" data-bs-scroll="true" aria-labelledby="offcanvasNavbarLabel">
			<div class="offcanvas-header">
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasNavbar" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body text-center">
				<h4 class="offcanvas-title" id="offcanvasNavbarLabel">Clairinette_</h4>
				<img src="">

				<section class="mt-4 d-flex justify-content-evenly gap-2 flex-wrap">
					<a href="{{ path('home.index') }}" class="btn btn-outline-dark btn-sm">Tradi</a>
					<a href="{{ path('home.index') }}" class="btn btn-outline-dark btn-sm">Digital</a>
					<a href="{{ path('home.index') }}" class="btn btn-outline-dark btn-sm">study</a>
					<a href="{{ path('home.index') }}" class="btn btn-outline-dark btn-sm">Mardi study</a>
					<a href="{{ path('home.index') }}" class="btn btn-outline-dark btn-sm">cours de dessin</a>
					<a href="{{ path('home.index') }}" class="btn btn-outline-dark btn-sm">Pixel art</a>
				</section>
			</div>
			{# <div class="offcanvas-footer">
				<a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">Mentions légales</a>
			</div> #}
		</div>
	</nav>
</header>
